<%- include('header') %>

<style>
    /* 要素を横並びに */
    .flexbox div{
        background: white;
        margin: 10px;
        width: 50%;
        height: 50%;
    }
    
    .flexbox{
        display:flex;
    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<!-- ストリーミング用CDN-->
<script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>


<h2 class="mt-3 mb-3"><%= title %></h2>

<p>温湿度推移 <small>（直近50コイル）</small></p>
<div class="flexbox">
    <!-- 2ミル温湿度 -->
    <div>
        <canvas id="chart_01"></canvas>
        <script type="text/javascript">
            // データ
            const data_01 = {
                labels: <%- JSON.stringify(time_2mill) %>,
                datasets: [{
                    label: "2ミル温度",
                    data: <%- JSON.stringify(temp_2mill) %>,
                    backgroundColor: 'rgba(255, 0, 0, 0.5)'
                },{
                    label: "2ミル湿度",
                    data: <%- JSON.stringify(mois_2mill) %>,
                    backgroundColor: 'rgba(0, 0, 255, 0.5)'
                }]
            }
            // グラフ描画
            const ctx_01 = document.getElementById('chart_01')
            const chart_01 = new Chart(ctx_01, {
                type: 'line',
                data: data_01,
                options: {}}
            )
        </script>
    </div>

    <!-- 3ミル温湿度 -->
    <div>
        <canvas id="chart_02"></canvas>
        <script type="text/javascript">
            // データ
            const data_02 = {
                labels: <%- JSON.stringify(time_3mill) %>,
                datasets: [{
                    label: "3ミル温度",
                    data: <%- JSON.stringify(temp_3mill) %>,
                    backgroundColor: 'rgba(255, 0, 0, 0.5)'
                },{
                    label: "3ミル湿度",
                    data: <%- JSON.stringify(mois_3mill) %>,
                    backgroundColor: 'rgba(0, 0, 255, 0.5)'
                }]
            }
            // グラフ描画
            const ctx_02 = document.getElementById('chart_02')
            const chart_02 = new Chart(ctx_02, {
                type: 'line',
                data: data_02,
                options: {}}
            )
        </script>
    </div>
</div>

<br>
<div class="flexbox">
    <!-- 鋼種ごとコイル数 -->
    <div style="position: relative; width: 20%; height: 20%;">
        <h2>鋼種ごとコイル数</h2>
        <canvas id="chart_03"></canvas>
        <script type="text/javascript">
            // データ
            let n_401 = <%= data_401 %>;    // CuTiのコイル数
            let n_309 = <%= data_309 %>;    // YUS205M1のコイル数
            let n_600 = <%= data_600 %>;    // SUS304のコイル数

            const data_03 = {
                labels: ['CuTi(個)', 'YUS205M1(個)', 'SUS304(個)'],
                datasets: [{
                    label: '鋼種ごとコイル数',
                    data: [ n_401, n_309, n_600 ],
                    backgroundColor: ["rgba(255,100,100, 0.5)", "rgba(100,100,255, 0.5)", "rgba(100,255,100, 0.5)"],
                    }]
            }
            // グラフを描画
            const ctx_03 = document.getElementById('chart_03')
            const chart_03 = new Chart(ctx_03, {
                type: 'pie',
                data: data_03,
                options: {}
            })
        </script>
    </div>

    <!-- 余白（ダミー） -->
    <div style="position: relative; width: 30%; height: 20%;">
        <canvas id="chart_04"></canvas>
        <script type="text/javascript">

            // グラフを描画
            const ctx_04 = document.getElementById('chart_04')

        </script>
    </div>

    <!-- ストリーミング -->
    <div style="position: relative;">
        <canvas id="chart_05"></canvas>
        <script type="text/javascript">
            const config = {
                type: 'line',
                data: {
                    datasets: [
                    {
                        label: "気温",
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgb(255, 99, 132)',
                        borderDash: [8, 4],
                        fill: true,
                        data: []
                    },
                    {
                        label: "湿度",
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgb(54, 162, 235)',
                        cubicInterpolationMode: 'monotone',
                        fill: true,
                        data: []
                    }
                    ]
                },
                options: {
                    plugins: {
                        streaming: {
                            duration: 10000      // グラフの表示時間 [ms]
                        }
                    },
                    scales: {
                        x: {
                            type: 'realtime',
                            realtime: {
                                delay: 2000,                    // グラフの端でも線が続くようにする
                                onRefresh: chart => {           // コールバック関数で定期的に呼び出す
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.data.push({
                                            x: Date.now(),
                                            y: Math.random()
                                        });
                                    });
                                }
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: "温度・湿度",
                                font: {
                                    size: 20
                                }
                            }
                        }
                    }
                }
            };

            // グラフを描画
            const myChart = new Chart(
                document.getElementById('chart_05'),
                config
            );
        </script>
    </div> 
</div>