<%- include('../header') %>

<!-- css, javascriputはpulicフォルダに配置 -->
<link rel="stylesheet" href="/stylesheets/style_destination.css">

<br>
<h2>こんにちは！<%= content.name %>さん</h2>
<br>

<form method="post" action="/destination/edit">

    <input type="hidden" id="id" name="id" class="form-control" value="<%= content.id %>">
    <input type="hidden" id="name" name="name" class="form-control" value="<%= content.name %>">
    <input type="hidden" id="lunch_default" name="lunch_default" class="form-control" value="<%= content.lunch_default %>">

    <div class="my_edit">
        <div class="form-group">
            <label><input type="radio" id="present" name="present" class="form-control" value="blue" <% if (content.present === "blue") { %>checked<% } %>><font size="5" color="blue">出社</font></label>
            <label><input type="radio" id="present" name="present" class="form-control" value="green" <% if (content.present === "green") { %>checked<% } %>><font size="5" color="green">在宅</font></label>
            <label><input type="radio" id="present" name="present" class="form-control" value="yellowgreen" <% if (content.present === "yellowgreen") { %>checked<% } %>><font size="5" color="	yellowgreen">出張</font></label>
            <label><input type="radio" id="present" name="present" class="form-control" value="gray" <% if (content.present === "gray") { %>checked<% } %>><font size="5"color="gray">不在</font></label>
            <label><input type="radio" id="present" name="present" class="form-control" value="red" <% if (content.present === "red") { %>checked<% } %>><font size="5" color="red">年休</font></label>
        </div>
    </div>
    <hr />
    <div class="my_edit">
        <div class="form-group">
            <label><input type="radio" id="destination" name="destination" class="form-control" value="" checked><font size="4">無</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="現場朝会"><font size="4">現場朝会</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="第1工場"><font size="4">第1工場</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="第2工場"><font size="4">第2工場</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="第1・第2工場"><font size="4">第1・2工場</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="2F会議室"><font size="4">2F会議室</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="3F会議室"><font size="4">3F会議室</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="3F事務所"><font size="4">3F事務所</font></label>
            <br><br>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="µ事務所"><font size="4">µ事務所</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="µ1会議室"><font size="4">µ1会議室</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="µ2会議室"><font size="4">µ2会議室</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="JKルーム"><font size="4">JKルーム</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="HMC"><font size="4">HMC</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="外出"><font size="4">外出</font></label>
            <label><input type="radio" id="destination" name="destination" class="form-control" value="その他"><font size="4">その他</font></label>           
        </div>
    </div>
    <hr />
    <hr />
    <div class="my_edit">
        <div class="form-group">
            <label><input type="radio" id="lunch" name="lunch" class="form-control" value="" <% if (content.lunch === '') { %>checked<% } %>><font size="4">無</font></label>
            <label><input type="radio" id="lunch" name="lunch" class="form-control" value="G" <% if (content.lunch === 'G') { %>checked<% } %>><font size="4">銀柳</font></label>
            <label><input type="radio" id="lunch" name="lunch" class="form-control" value="Gm" <% if (content.lunch === 'Gm') { %>checked<% } %>><font size="4">銀柳ミニ</font></label>
            <label><input type="radio" id="lunch" name="lunch" class="form-control" value="T" <% if (content.lunch === 'T') { %>checked<% } %>><font size="4">徳山</font></label>
            <label><input type="radio" id="lunch" name="lunch" class="form-control" value="Tm" <% if (content.lunch === 'Tm') { %>checked<% } %>><font size="4">徳山ミニ</font></label>
            <label><input type="radio" id="lunch" name="lunch" class="form-control" value="To" <% if (content.lunch === 'To') { %>checked<% } %>><font size="4">徳山おかず</font></label>
            <label><input type="radio" id="lunch" name="lunch" class="form-control" value="S" <% if (content.lunch === 'S') { %>checked<% } %>><font size="4">その他</font></label>
        </div>
    </div>
    <br><br>
    <input type="submit" value="更新" class="btn btn-primary w-100 btn-lg">
</form>