<%- include('../header') %>

<!-- css, javascriputはpulicフォルダに配置 -->
<link rel="stylesheet" href="/stylesheets/style_destination.css">

<br>
<h1 style="color: red;">弁当の有無を確認してください</h1>
<br>
<h4>現在の内容：<%= lunch %></h4>
<p>G:銀柳 &ensp; Gm:銀柳ミニ &ensp; T:徳山 &ensp; Tm:徳山ミニ &ensp; To:徳山おかず &ensp; S:その他 &ensp; 空欄:弁当無し</p>
<br>
<a href="/destination/edit?id=<%= id %>" class="btn btn-primary" role="button">編集画面に戻る</a>&emsp;

<form action="/destination/force-update" method="post" style="display:inline;">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="hidden" name="name" value="<%= name %>">
    <input type="hidden" name="present" value="<%= present %>">
    <input type="hidden" name="destination" value="<%= destination %>">
    <input type="hidden" name="lunch" value="<%= lunch %>">
    <button type="submit" class="btn btn-success" role="button">このまま登録</button>
</form>

